* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #00f1fd 0%, #dd0e94 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.topo {
  background-color: rgb(29, 255, 176);
  padding: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.form {
  padding: 100px;
}

.dados {
  margin-bottom: 15px;
  padding-bottom: 1px;
  position: relative;
}

.form input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.concordo {
  border: 2px solid #f0f0f0;
  display: block;
  width: 100%;
  padding: 100px;
}

.concordoL {
  font-size: 10px;
}

.secoes {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.junior {
  padding: 50px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.master {
  padding: 50px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.senior {
  padding: 50px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.listJunior {
  color: #006400;
}

.listMaster {
  color: #00008b;
}

.listSenior {
  color: #993399;
}

.aviso {
  font-size: 9px;
}

.botao {
  width: 70px;
  height: 40px;
}
